{% extends 'base.html' %}

<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <div class="container">

        <h1>Home Page</h1>

    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-4 col-lg-4">

                <h2 class="category-header">
                    List of Categories
                </h2>

            </div>

            <div class="col-md-4 col-lg-4">

            </div>

            <div class="col-md-4 col-lg-4">
                <h2 class="category-create">
                    <button class="btn btn-info-outline"><a href="/category/new">
                        Add Category
                    </a></button>

                </h2>

            </div>

        </div>
        <div>
            {% for categories in categories %}
                <div class="card">
                    <div class="card-body">
                        <a href="/category/{{ categories.id }}">
                            {{ categories.name }}
                        </a>
                    </div>

                </div>


            {% endfor %}
        </div>
    </div>

{% endblock %}
