{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
    <div class="container">
        <div class="row">

        </div>
        <div class="row">
            <h1>List Comments</h1>
            <hr>

        </div>
        <div class="card">
                <div class="card-body">
                    {{ content.content}}
                    <button class="btn btn-outline-info"><a href="/comment/new/{{ pitch.id }}">comment</a></button>


                     {% for comment in comment %}
                    <div class="card">
                        <div class="card-body">
                            {{ comment.comment }}<br>
                       by: {{ comment.user.username }}
                        </div>
                    </div>
                {% endfor %}
                </div>
        </div>

    </div>

{% endblock %}
